
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
<p>Please fill the form to register!</p>

<hr>

<p>
    <label for="first"><b>First Name</b></label>
    <input type="text" placeholder="First Name" name="first" required />
</p>

<p>
    <label for="last"><b>Last Name</b></label>
    <input type="text" placeholder="Last Name" name="last" required />
</p>
<p>
    Birthday:
    <input type="date" name="Birthday" class="form-control" id="bd" oninput="validBD()" onchange="validBD()" />
    <span id="bdMessage"></span>
</p>

<label class="control-label">
    Email:
    <input type="email" name="Email" class="form-control" id="email" onkeyup="validEM()" />
    <span id="emMessage"></span>
</label>        <br />

<label class="control-label">
    Confirm Email:
    <input type="email" name="ConfirmEmail" class="form-control" id="cfem" onkeyup="check_match()" />
    <span id="message"></span>
</label>        <br />

<p>
    <label for="number"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Phone Number" name="number" required />
</p>

<label class="control-label">
    Password:
    <input type="password" name="Password" class="form-control" id="pw" onkeyup="validPW()" />
    <span id="pwMessage"></span>
</label>        <br />

<label class="control-label">
    Confirm Password:
    <input type="password" name="ConfirmPassword" class="form-control" id="cfpw" onkeyup="pwMatch()" />
    <span id="cfpwMessage"></span>
</label>        <br />
<hr />
<p>
    <button type="submit">Register</button>
</p>
